@tailwind base;
@tailwind components;
@tailwind utilities;


 .menuoption {
    display: block;
    background-color: black;
    width: 50vw;
    position: absolute;
    top: 68px;
    height: 100vh;
    left: 0;
    
  }
  .rcv{
    margin-bottom: 10px;
    margin-left: 50px;
  }
  