

.socilicondiv {
    text-align: center;
   margin-top: 50px;
   height: 33vh;
  }
  
  .findeme {
    color:white; 
    font-size: 3rem;
  }
  
  .purple {
    color:white; 
  }
  
  .iconlist {
    list-style: none;
    padding: 0;
    margin-top: 12px;
  }
  
  .social-icons {
    display: inline-block;
    margin: 0 10px;
  }
  
  .home-social-icons {
    font-size: 50px; 
    color: white; 
    transition: color 0.3s ease-in-out;
  }
  
  .home-social-icons:hover {
    color: #4527a0; 
  }
  